@model SistemaJobs.ViewModels.VmFuncionarioEmpresa

@{
    ViewBag.Title = "Index";

    Layout = "~/Views/Shared/_LayoutInicial.cshtml";
}

<div style="text-align:center; margin: 150px 0px 30px 0px;">
    <img src="/Images/logo-hiredit.png" style="margin: 0px 0px 15px;" />
</div>

@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="row" style="display:flex; justify-content:center;">
        <div class="col-md-6" style="background-color: rgba(255, 255, 255, 0.9); padding:45px;">
            <h2 style="margin-bottom:20px;margin-top:0; color: #385898;">Login</h2>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.Usuario, new { placeholder = "Usuário", @class = "form-control" })
                    <h5 class="text-error-message col-md-10 col-md-offset-1">@Html.ValidationMessageFor(model => model.Usuario)</h5>

                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.PasswordFor(model => model.Senha, new { placeholder = "Senha", @class = "form-control" })
                    <h5 class="text-error-message col-md-10 col-md-offset-1">@Html.ValidationMessageFor(model => model.Senha)</h5>
                    <h5 style="color:red;">@ViewBag.ErrorMessage</h5>
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-10 col-md-offset-1">
                    <input type="submit" value="Entrar" class="btn btn-default pull-right" />
                </div>
            </div>
        </div>
        @*<div class="col-md-5 col-md-offset-2" style="background-color: rgba(255, 255, 255, 0.9); padding:45px;">
            <h2 style="margin-bottom:20px;margin-top:0; color: #385898;">Login Empresas</h2>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.Usuario, new { placeholder = "Usuário", @class = "form-control" })
                    <h5 class="text-error-message col-md-10 col-md-offset-1">@Html.ValidationMessageFor(model => model.Empresa.Usuario)</h5>

                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.PasswordFor(model => model.Senha, new { placeholder = "Senha", @class = "form-control" })
                    <h5 class="text-error-message col-md-10 col-md-offset-1">@Html.ValidationMessageFor(model => model.Senha)</h5>
                    <h5 style="color:red;">@ViewBag.ErrorMessage</h5>
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-10 col-md-offset-1">
                    <input type="submit" value="Entrar" class="btn btn-default pull-right" />
                </div>
            </div>
        </div>*@
    </div>
}
