@model SistemaJobs.Portfolio

@{
    ViewBag.Title = "Create";
}

<h2 style="margin-top:70px; color: #385898;">Cadastrar Portfólio</h2>
<hr class="hr-custom" />

@using (Html.BeginForm("Create", "Portfolios", FormMethod.Post,
                                      new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" value="@(ViewBag.IdFuncionario)" name="IdFuncionario" />

    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "col-md-12 lbl-custom" })
            <div class="col-md-12">
                @Html.TextBoxFor(model => model.Titulo, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Titulo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "col-md-12 lbl-custom" })
            <div class="col-md-12">
                @Html.TextArea("Descricao", null, new { @class = "form-control", @cols = 40, @rows = 5 })
                @Html.ValidationMessageFor(model => model.Descricao)
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Imagem, htmlAttributes: new { @class = "col-md-12 lbl-custom" })
                    <div class="col-md-12">
                        <input type="file" id="imagem" name="imagem" />
                        @*@Html.TextBoxFor(model => model.Imagem, new { type = "file", @class = "form-control" })*@
                        @Html.ValidationMessageFor(model => model.Imagem)
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.TempoTrabalho, htmlAttributes: new { @class = "col-md-12 lbl-custom" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(model => model.TempoTrabalho, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TempoTrabalho)
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div style="text-align:right;">
                @Html.ActionLink("Voltar", "Index", null, htmlAttributes: new { @class = "a-custom-voltar" })
                <input type="submit" value="Salvar" class="btn-custom" />
            </div>
        </div>
        <hr class="hr-custom" />
    </div>
}
