@model SistemaJobs.Portfolio

@{
    ViewBag.Title = "Delete";
}

<h2 style="margin-top:70px; color: #385898;">Excluir Portfólio</h2>
<h4>Tem certeza que deseja excluir o item do portfólio?</h4>
<hr class="hr-custom" />

<div>
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        <div class="titulo-portfolio">
            @Html.DisplayFor(model => model.Titulo, new { @class = "titulo-portfolio" })
        </div>
        <hr class="hr-custom" />
        <div class="row">
            <div class="col-md-3">
                <img src="~/Images/18c0033932.jpg" class="img-size" />
            </div>
            <div class="col-md-9">
                @Html.DisplayFor(model => model.Descricao)
                <hr class="hr-custom" />
                <div class="form-group">
                    @Html.LabelFor(model => model.TempoTrabalho, htmlAttributes: new { @class = "col-md-2 lbl-custom" })
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.TempoTrabalho)
                    </div>
                </div>
            </div>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div style="text-align:right;">
                <p>
                    @Html.ActionLink("Voltar ao portfólio", "Index")
                    <input type="submit" value="Excluir" class="btn-custom" style="margin-left:10px;" />
                </p>
            </div>
        }

        <hr class="hr-custom" />

    </div>

    @*@using (Html.BeginForm()) {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }*@
</div>
