@model SistemaJobs.Portfolio

@{
    ViewBag.Title = "Details";
}

<h2 style="margin-top:70px; color: #385898;">Portfólio</h2>
<hr class="hr-custom" />

<div class="form-horizontal">
    @Html.ValidationSummary(true)
    <div class="titulo-portfolio">
        @Html.DisplayFor(model => model.Titulo, new { @class = "titulo-portfolio" })
    </div>
    <hr class="hr-custom"/>
    <div class="row">
        <div class="col-md-3">
            <img src="~/Images/@(ViewBag.Imagem)" class="img-size" />
        </div>
        <div class="col-md-9">
            @Html.DisplayFor(model => model.Descricao)
            <hr class="hr-custom" />
            <div class="form-group">
                @Html.LabelFor(model => model.TempoTrabalho, htmlAttributes: new { @class = "col-md-2 lbl-custom" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.TempoTrabalho)
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="pull-right">
            <p>
                @if (Session["tipoUsuario"].ToString() == "funcionario")
                {
                    @Html.ActionLink("Editar | ", "Edit", new { id = Model.IdPorfolio });
                }
                @Html.ActionLink("Voltar ao portfólio", "Index", new { id = Model.IdFuncionario })
            </p>
        </div>
    </div>
    <hr class="hr-custom" />

</div>

