@model SistemaJobs.Portfolio

@{
    ViewBag.Title = "Edit";
}

<h2 style="margin-top:70px; color: #385898;">Editar Portfólio</h2>
<hr class="hr-custom" />

@using (Html.BeginForm("Edit", "Portfolios", FormMethod.Post,
                                      new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.IdPorfolio)
    @Html.HiddenFor(model => model.IdFuncionario)
    <input type="hidden" name="ImagemSalva" id="ImagemSalva" value="@ViewBag.ImagemSalva" />

    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.Label("Titulo*", htmlAttributes: new { @class = "col-md-12 lbl-custom" })
            <div class="col-md-12">
                @Html.TextBoxFor(model => model.Titulo, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Titulo)
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Descricao*", htmlAttributes: new { @class = "col-md-12 lbl-custom" })
            <div class="col-md-12">
                @Html.TextArea("Descricao", null, new { @class = "form-control", @cols = 40, @rows = 5 })
                @Html.ValidationMessageFor(model => model.Descricao)
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Imagem, htmlAttributes: new { @class = "col-md-12 lbl-custom" })
                    <div class="col-md-12">
                        <input type="file" id="imagem" name="imagem" />
                        @*@Html.TextBoxFor(model => model.Imagem, new { @class = "form-control" })*@
                        @Html.ValidationMessageFor(model => model.Imagem)
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.Label("TempoTrabalho (em dias)", htmlAttributes: new { @class = "col-md-12 lbl-custom" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(model => model.TempoTrabalho, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TempoTrabalho)
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div style="text-align:right;">
                @Html.ActionLink("Voltar | ", "Index", new { id = Model.IdFuncionario })
                <input type="submit" value="Salvar" class="btn-custom" />
            </div>
        </div>
        <hr class="hr-custom" />

    </div>
}
