@model SistemaJobs.ViewModel.VagaProjetoViewModel

@{
    ViewBag.Title = "Details";
}

<style type="text/css" media="screen and (max-width:400px)">
    .botaoInteressados {
        font-size: 10px;
    }
</style>

<div class="row">
    @*<div class="col-md-4">

    </div>*@

    <div>
        <div class="col-md-3" style="text-align:center;margin-top:150px;">
            <img src="~/Images/@(ViewBag.Imagem)" style="border-radius:100%;max-width:70%;max-height:70%;" />
            <h3 style="color: #385898;">@ViewBag.NomeEmpresa</h3>
            @Html.ActionLink("Enviar Mensagem", "Index", "Mensagens", new { id = Session["usuarioLogadoID"], idDestinatario = ViewBag.IdEmpresa, tipo = Session["tipoUsuario"] }, null)
        </div>
        <div class="col-md-9">
            <div class="row" style="margin-bottom:10px;margin-top:50px;">
                <div class="col-md-12">
                    <h2 style="margin-top:50px; color: #385898;">@Html.DisplayFor(model => model.Titulo)</h2>
                    <div class="txt-custom">
                        <p>@Html.DisplayFor(model => model.Descricao)</p>
                    </div>
                </div>
            </div>
            <hr class="hr-custom" />
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-md-6" style="padding-left:0px;">
                    <div class="col-md-12">
                        @if (Model.TipoVaga == "0")
                        {
                            <label class="lbl-custom">Salário: </label>
                        }
                        else
                        {
                            <label class="lbl-custom">Orçamento: </label>
                        }
                        <span class="txt-custom">R$ @Model.SalarioOrcamento</span>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-bottom: 10px;">


                <div class="col-md-12">
                    <label class="lbl-custom" style="margin-right:10px;">Habilidades Necessárias:</label>
                    <h4>
                        @foreach (var p in ViewBag.ListaCompetencias)
                        {
                            <span class="label label-default">@p.NomeCompetencia</span>
                        }
                    </h4>
                </div>

                <div class="col-md-12" style="margin-top:10px;">
                    <label class="lbl-custom">Data de Entrega:</label>
                    <span class="txt-custom">@Model.DataFinal</span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label class="lbl-custom">Cargos Disponíveis:</label>

                    <div class="row">
                        <div class="col-md-12">

                            @foreach (var p in ViewBag.ListaCargos)
                            {
                                <h6 class="btn btn-primary btn-large">@p.Nome</h6>

                                if (@p.Status == 0)
                                {
                                    <h6 class="btn btn-danger btn-large">Ocupado</h6>
                                }
                                else if (@p.Status == 1)
                                {
                                    <h6 class="btn btn-success btn-large">Disponível</h6>
                                }
                                <br />
                            }
                        </div>
                    </div>

                    <hr class="hr-custom" />
                </div>

                <div class="col-md-12" style="text-align:end;">
                    @if (Session["tipoUsuario"].ToString() == "empresa")
                    {
                        @Html.ActionLink("Voltar", "Index", null, new { @class = "voltar-projeto" })   
                    }
                    else
                    {
                        @Html.ActionLink("Voltar |", "Index", null, new { @class = "voltar-projeto" })
                    }
                    @*<input type="submit" value="Estou Interessado" class="btn-custom botaoInteressados" style="margin-left: 10px; margin-bottom:10px;" />*@
                    @*@Html.ActionLink("Voltar |", "Index", null, new { @class = "voltar-projeto" })*@
                    @if (Session["tipoUsuario"].ToString() == "funcionario")
                    {
                        if (ViewBag.Candidato == null)
                        {
                            @Html.ActionLink("Estou interessado", "Create", "Candidatos", new { vagaId = ViewBag.IdVaga, funcId = Session["usuarioLogadoID"] }, new { @class = "btn-custom botaoInteressados" })
                        }
                        else
                        {
                            <span class="ja-enviado">Já enviado</span>
                        }
                    }
                    </div>
            </div>
        </div>
        
    </div>
</div>