@model SistemaJobs.ViewModel.VagaProjetoViewModel
@{
    ViewBag.Title = "Edit";
}

<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        var s1 = $(".select2").select2({
            tags: true
        });

        var s2 = $(".estadoselect2").select2({
            tags: true,
            width: '100px'
        });

        var s3 = $(".regimecontratacaoselect2").select2({
            tags: true
        });

        var s4 = $(".tipovagaselect2").select2({
            tags: true
        });

        var array = @Html.Raw(Json.Encode(@ViewBag.Comp));
        var array2 = @Html.Raw(Json.Encode(@ViewBag.EstadoList));
        var array3 = @Html.Raw(Json.Encode(@ViewBag.RegimeContratacaoList));
        var array4 = @Html.Raw(Json.Encode(@ViewBag.TipoVagaList));

        s1.val(array).trigger("change");
        s2.val(array2).trigger("change");
        s3.val(array3).trigger("change");
        s4.val(array4).trigger("change");
    });
</script>
<style>
    .select2-container .select2-selection--single {
        height: 34px !important;
    }
</style>
<script src="~/Scripts/select2.min.js"></script>

@if (Model.TipoVaga == "0")
{
    <h2 style="margin-top:50px; color: #385898;">Editar Vaga de emprego</h2>
}
else
{
    <h2 style="margin-top:50px; color: #385898;">Editar Projeto</h2>
}
<hr class="hr-custom" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.VagaProjetoViewModelId, new { @id = "id" })

    <div class="form-horizontal">
        <div class="row">
            <div class="form-group col-md-12">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "control-label lbl-custom" })*
                </div>
                <div class="col-md-12">
                    @Html.TextBoxFor(model => model.Titulo, new { @class = "form-control", @id = "titulo" })
                    @Html.ValidationMessageFor(model => model.Titulo)
                </div>
            </div>

            <div class="form-group col-md-12">
                <div class="col-md-12">
                    @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label lbl-custom" })*
                </div>
                <div class="col-md-12">
                    @Html.TextAreaFor(model => model.Descricao, new { @class = "form-control", @cols = 40, @rows = 5, @style = "max-width: 100%", @id = "descricao" })
                    @Html.ValidationMessageFor(model => model.Descricao)
                </div>
            </div>

            <div class="form-group col-md-12">
                <div class="col-md-6" style="padding:0px">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.ListaCompetencias, "Competências", htmlAttributes: new { @class = "control-label lbl-custom" })*
                    </div>
                    <div class="col-md-12">
                        <select multiple class="form-control select2" id="ListaCompetencias" name="ListaCompetencias">
                            @foreach (var p in ViewBag.ListaCompetencias)
                            {
                                <option style="width:100%;">@p.NomeCompetencia</option>
                            }
                        </select>
                        <h5 style="color:#b94a48; line-height: 1.428571429;">@ViewBag.message1</h5>
                    </div>
                </div>

                <div class="col-md-6" style="padding:0px">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.ListaCargos, "Cargos", htmlAttributes: new { @class = "control-label lbl-custom" })*
                    </div>
                    <div class="col-md-12">
                        <select multiple class="form-control select2" id="ListaCargos" name="ListaCargos">
                            @foreach (var p in ViewBag.ListaCargos)
                            {
                                <option style="width:100%;">@p.Nome</option>
                            }
                        </select>
                        <h5 style="color:#b94a48; line-height: 1.428571429;">@ViewBag.message2</h5>
                    </div>
                </div>
            </div>

            <div class="form-group col-md-12">
                <div class="col-md-2" style="padding:0px">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label lbl-custom" })*
                    </div>
                    <div class="col-md-12">
                        <select class="form-control estadoselect2" id="Estado" name="Estado" style="height:200px;">
                            @foreach (var p in ViewBag.Estado)
                            {
                                <option style="width:auto;">@p.Value</option>
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.Estado)
                    </div>
                </div>

                <div class="col-md-4" style="padding:0px">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.Cidade, htmlAttributes: new { @class = "control-label lbl-custom" })*
                    </div>
                    <div class="col-md-12">
                        @Html.TextBoxFor(model => model.Cidade, new { @class = "form-control", @id = "cidade" })
                        @Html.ValidationMessageFor(model => model.Cidade)
                    </div>
                </div>

                <div class="col-md-3" style="padding:0px">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.RegimeContratacao, htmlAttributes: new { @class = "control-label lbl-custom" })*
                    </div>
                    <div class="col-md-12">
                        <select class="form-control regimecontratacaoselect2" id="RegimeContratacao" name="RegimeContratacao" style="height:200px; width:auto;">
                            @foreach (var p in ViewBag.RegimeContratacao)
                            {
                                <option style="width:auto;">@p.Value</option>
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.RegimeContratacao)
                    </div>
                </div>

                <div class="col-md-3" style="padding:0px">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.SalarioOrcamento, "Salário", htmlAttributes: new { @class = "control-label lbl-custom" })*
                    </div>
                    <div class="col-md-12">
                        @Html.TextBoxFor(model => model.SalarioOrcamento, new { @class = "form-control", type = "number", @style = "width:120px;", @id = "salario" })
                        @Html.ValidationMessageFor(model => model.SalarioOrcamento)
                    </div>
                </div>
            </div>

            <div class="form-group col-md-12">
                <div class="col-md-2" style="padding:0px">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.QtdVagas, htmlAttributes: new { @class = "control-label lbl-custom" })*
                    </div>
                    <div class="col-md-12">
                        @Html.TextBoxFor(model => model.QtdVagas, new { @class = "form-control", @style = "width:90px;", type = "number", @id = "qtd" })
                        @Html.ValidationMessageFor(model => model.QtdVagas)
                        <h5 style="color:#b94a48; line-height: 1.428571429;">@ViewBag.Quantidade</h5>
                    </div>
                </div>

                <div class="col-md-4" style="padding:0px">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.DataFinal, htmlAttributes: new { @class = "control-label lbl-custom" })*
                    </div>
                    <div class="col-md-12">
                        @Html.TextBoxFor(model => model.DataFinal, new { @class = "form-control", type = "string", @style = "width:auto;", mask = "99/99/9999", @id = "data" })
                        @Html.ValidationMessageFor(model => model.DataFinal)
                    </div>
                </div>

                <div class="col-md-6" style="padding:0px">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.TipoVaga, "Tipo de Cadastro", htmlAttributes: new { @class = "control-label lbl-custom" })*
                    </div>
                    <div class="col-md-12">
                        <select class="form-control tipovagaselect2" id="TipoVaga" name="TipoVaga" style="height:200px; width:auto;">
                            @foreach (var p in ViewBag.TipoVaga)
                            {
                                <option style="width:auto;">@p.Text</option>
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.TipoVaga)
                        <h5 style="color:#b94a48; line-height: 1.428571429;">@ViewBag.message3</h5>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-12" style=" margin-top:30px; text-align: end;">
                    <div class="col-md-12">
                        @Html.ActionLink("Voltar", "Index")
                        <input type="submit" value="Editar" class="btn-custom" style="margin-left: 10px;" />
                    </div>
                </div>
            </div>
        </div>

    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jquerymask")
}
