@using PagedList.Mvc;
@model PagedList.IPagedList<SistemaJobs.VagaProjeto>

@{
    ViewBag.Title = "Index";
}

<h2 style="text-align:center">Vagas de Emprego e Projetos</h2>

@using (Html.BeginForm("Index", "VagaProjeto", FormMethod.Get))
{
    <p style="text-align:center">
        @Html.TextBox("SearchString")
        <input type="submit" value="Pesquisar" />
    </p>
}

@foreach (var p in Model)
{
    @Html.Partial("_CardVagasEmprego", p)
}


<!-- Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount-->
<div style="text-align:center">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
</div>