@model SistemaJobs.Funcionario

@{
    ViewBag.Title = "Meu Perfil";
}

<h2 style="margin-top:70px; color: #385898;">Meu Perfil</h2><span>@Html.ActionLink("Editar Perfil", "Edit", new { id = Model.IdFuncionario })</span>
<hr class="hr-custom" />

<div class="form-horizontal">
    <div class="row">
        <div class="col-md-4">
            <img src="~/Images/@(ViewBag.Imagem)" class="img-size" />
        </div>
        <div class="col-md-8" style="padding-right:0;">
            <div class="form-group">
                @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "col-md-2 lbl-custom", style = "padding-top:0;" })
                <div class="col-md-10 txt-custom">
                    @Html.DisplayFor(model => model.Nome)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Sobrenome, htmlAttributes: new { @class = "col-md-2 lbl-custom", style = "padding-top:0;" })
                <div class="col-md-10 txt-custom">
                    @Html.DisplayFor(model => model.Sobrenome, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.CPF, htmlAttributes: new { @class = "col-md-2 lbl-custom", style = "padding-top:0;" })
                <div class="col-md-10 txt-custom">
                    @Html.DisplayFor(model => model.CPF, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Telefone, htmlAttributes: new { @class = "col-md-2 lbl-custom", style = "padding-top:0;" })
                <div class="col-md-10 txt-custom">
                    @Html.DisplayFor(model => model.Telefone, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "col-md-2 lbl-custom", style = "padding-top:0;" })
                <div class="col-md-10 txt-custom">
                    @Html.DisplayFor(model => model.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Cidade, htmlAttributes: new { @class = "col-md-2 lbl-custom", style = "padding-top:0;" })
                <div class="col-md-10 txt-custom">
                    @Html.DisplayFor(model => model.Cidade, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "col-md-2 lbl-custom", style = "padding-top:0;" })
                <div class="col-md-5 txt-custom">
                    @Html.DisplayFor(model => model.Estado)
                </div>
            </div>
        </div>
    </div>
    <hr class="hr-custom" />
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="lbl-custom">Experiência Profissional</label>
                <div class="txt-custom">
                    <div style="padding-right:20px;">
                        @Html.DisplayFor(model => model.Experiencia)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="lbl-custom">Qualificações</label>
                <div class="txt-custom">
                    <div style="padding-right:20px;">
                        @Html.DisplayFor(model => model.Qualificacoes)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="lbl-custom">Sobre</label>
                <div class="txt-custom">
                    <div style="padding-right:20px;">
                        @Html.DisplayFor(model => model.Sobre)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquerymask")
}
