@using PagedList.Mvc;
@model PagedList.IPagedList<SistemaJobs.ViewModel.VagaProjetoViewModel>

@{
    ViewBag.Title = "Index2";
}

<h2 style="margin-top:70px; color: #385898;">Meus Projetos</h2><span>@Html.ActionLink("Cadastrar Projeto", "Create", "VagaProjeto", new { tipoVagaParam = "1" }, new { tipoVagaParam = "1" })</span>
<hr class="hr-custom" />

@using (Html.BeginForm("Index2", "MeusProjetos", FormMethod.Get))
{
}

@foreach (var p in Model)
{
    @Html.Partial("_CardVagasEmprego", p)
}

<!-- Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount-->
<div style="text-align:center">

    @Html.PagedListPager(Model, page => Url.Action("Index2", new { page }))
</div>