@model SistemaJobs.Candidato

<h2 style="margin-top:70px; color: #385898;">Detalhe Candidato</h2>
<hr class="hr-custom" />

<div>
    <div class="row" style="margin-bottom:20px;">
        <div class="col-md-3">
            <img src="~/Images/@(Model.Funcionario.Imagem)" style="max-width:70%;max-height:70%;" />
            @*<h3 style="color: #385898;">@ViewBag.NomeEmpresa</h3>*@
        </div>
        <div class="col-md-9">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Funcionario.Nome, htmlAttributes: new { @class = "col-md-12 lbl-custom", style = "padding-top:0;" })
                    <div class="col-md-12 txt-custom">
                        @Html.DisplayFor(model => model.Funcionario.Nome)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Funcionario.Sobrenome, htmlAttributes: new { @class = "col-md-12 lbl-custom", style = "padding-top:0;" })
                    <div class="col-md-12 txt-custom">
                        @Html.DisplayFor(model => model.Funcionario.Sobrenome, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Funcionario.Email, htmlAttributes: new { @class = "col-md-12 lbl-custom", style = "padding-top:0;" })
                    <div class="col-md-12 txt-custom">
                        @Html.DisplayFor(model => model.Funcionario.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Funcionario.Telefone, htmlAttributes: new { @class = "col-md-12 lbl-custom", style = "padding-top:0;" })
                    <div class="col-md-12 txt-custom">
                        @Html.DisplayFor(model => model.Funcionario.Telefone, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Funcionario.Cidade, htmlAttributes: new { @class = "col-md-12 lbl-custom", style = "padding-top:0;" })
                    <div class="col-md-12 txt-custom">
                        @Html.DisplayFor(model => model.Funcionario.Cidade, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Funcionario.Estado, htmlAttributes: new { @class = "col-md-12 lbl-custom", style = "padding-top:0;" })
                    <div class="col-md-12 txt-custom">
                        @Html.DisplayFor(model => model.Funcionario.Estado)
                    </div>
                </div>
                @Html.ActionLink("Ver Portfólio", "Index", "Portfolios", new { id = Model.Funcionario.IdFuncionario }, new { @class = "btn-custom botaoInteressados" })
            </div>

        </div>
    </div>
    <hr class="hr-custom" />
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="lbl-custom">Experiência Profissional</label>
                <div class="txt-custom">
                    <div style="padding-right:20px;">
                        @Html.DisplayFor(model => model.Funcionario.Experiencia)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="lbl-custom">Qualificações</label>
                <div class="txt-custom">
                    <div style="padding-right:20px;">
                        @Html.DisplayFor(model => model.Funcionario.Qualificacoes)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="lbl-custom">Sobre</label>
                <div class="txt-custom">
                    <div style="padding-right:20px;">
                        @Html.DisplayFor(model => model.Funcionario.Sobre)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="hr-custom" />
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="lbl-custom">Projeto</label>
                <div class="txt-custom">
                    <div style="padding-right:20px;">
                        @Html.DisplayFor(model => model.VagaProjeto.Titulo)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="lbl-custom">Cargo Desejado</label>
                <div class="txt-custom">
                    <div style="padding-right:20px;">
                        @Html.DisplayFor(model => model.VagaDesejada)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="lbl-custom"></label>
                <div class="txt-custom">
                    <div style="padding-right:20px;">
                        @if (ViewBag.Contratado == null)
                        {
                            @Html.ActionLink("Contratar", "SalvarFuncionarioProjeto", "VagaProjeto", new { idFuncionario = Model.Funcionario.IdFuncionario, idVaga = Model.VagaProjeto.IdVagaProjeto }, new { @class = "btn-custom botaoInteressados" })
                        }
                        else
                        {
                            <span class="contratado">Já vinculado</span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.IdCandidato }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
@section Scripts {
    @Scripts.Render("~/bundles/jquerymask")
}